@font-face {
font-family: 'Portfolio';
src:
url('Fonts/Portfolio.ttf') format('truetype'),
url('Fonts/Portfolio.woff') format('woff'),
url('Fonts/Portfolio.eot') format('eot'),
url('Fonts/Portfolio.svg?#Portfolio') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'Portfolio' !important;
speak: none;
font-size: 55px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-zoom-horizontal---02:before { content: "\e700"; }
.sf-icon-active-directory:before { content: "\e701"; }
.sf-icon-add-computer:before { content: "\e702"; }
.sf-icon-add-csv-01:before { content: "\e703"; }
.sf-icon-add-csv-02:before { content: "\e704"; }
.sf-icon-add-report:before { content: "\e705"; }
.sf-icon-add-row-bottom:before { content: "\e706"; }
.sf-icon-add-row-child:before { content: "\e707"; }
.sf-icon-add-row-top:before { content: "\e708"; }
.sf-icon-add-new:before { content: "\e709"; }
.sf-icon-adobe-acrobat:before { content: "\e70a"; }
.sf-icon-adobe-dreamweaver:before { content: "\e70b"; }
.sf-icon-adobe-illustrator:before { content: "\e70c"; }
.sf-icon-adobe-photoshop:before { content: "\e70d"; }
.sf-icon-agreement-01:before { content: "\e70e"; }
.sf-icon-agreement-02:before { content: "\e70f"; }
.sf-icon-align-center:before { content: "\e710"; }
.sf-icon-align-center_01:before { content: "\e711"; }
.sf-icon-align-justify:before { content: "\e712"; }
.sf-icon-align-justify_01:before { content: "\e713"; }
.sf-icon-align-left:before { content: "\e714"; }
.sf-icon-align-left_01:before { content: "\e715"; }
.sf-icon-align-none:before { content: "\e716"; }
.sf-icon-align-right:before { content: "\e717"; }
.sf-icon-align-right_01:before { content: "\e718"; }
.sf-icon-align-center:before { content: "\e719"; }
.sf-icon-align-horizontal-center:before { content: "\e71a"; }
.sf-icon-align-justify:before { content: "\e71b"; }
.sf-icon-align-left:before { content: "\e71c"; }
.sf-icon-align-right:before { content: "\e71d"; }
.sf-icon-animation-01:before { content: "\e71e"; }
.sf-icon-animation-02:before { content: "\e71f"; }
.sf-icon-animation-03:before { content: "\e720"; }
.sf-icon-application-01:before { content: "\e721"; }
.sf-icon-area:before { content: "\e722"; }
.sf-icon-arrow:before { content: "\e723"; }
.sf-icon-arrow-expand:before { content: "\e724"; }
.sf-icon-arrowhead-01:before { content: "\e725"; }
.sf-icon-arrowhead-down:before { content: "\e726"; }
.sf-icon-arrowhead-down-01:before { content: "\e727"; }
.sf-icon-arrowhead-left:before { content: "\e728"; }
.sf-icon-arrowhead-left-01:before { content: "\e729"; }
.sf-icon-arrowhead-right:before { content: "\e72a"; }
.sf-icon-arrowhead-right-01:before { content: "\e72b"; }
.sf-icon-arrowhead-top:before { content: "\e72c"; }
.sf-icon-arrowhead-up:before { content: "\e72d"; }
.sf-icon-assign:before { content: "\e72e"; }
.sf-icon-audit:before { content: "\e72f"; }
.sf-icon-avalanche:before { content: "\e730"; }
.sf-icon-background-color:before { content: "\e731"; }
.sf-icon-basket:before { content: "\e732"; }
.sf-icon-bikd:before { content: "\e733"; }
.sf-icon-black-list:before { content: "\e734"; }
.sf-icon-black-list-folder:before { content: "\e735"; }
.sf-icon-blog:before { content: "\e736"; }
.sf-icon-bold_01:before { content: "\e737"; }
.sf-icon-book-close:before { content: "\e738"; }
.sf-icon-bookmark-add:before { content: "\e739"; }
.sf-icon-bookmark-delete:before { content: "\e73a"; }
.sf-icon-bookmark-edit:before { content: "\e73b"; }
.sf-icon-bookmark-find:before { content: "\e73c"; }
.sf-icon-bookmark-help:before { content: "\e73d"; }
.sf-icon-bookmark-info:before { content: "\e73e"; }
.sf-icon-bookmark-locked:before { content: "\e73f"; }
.sf-icon-bookmark-ok:before { content: "\e740"; }
.sf-icon-bookmark-previous:before { content: "\e741"; }
.sf-icon-bookmark-refresh:before { content: "\e742"; }
.sf-icon-bookmark-remove:before { content: "\e743"; }
.sf-icon-bookmark-save:before { content: "\e744"; }
.sf-icon-bookmark-search:before { content: "\e745"; }
.sf-icon-bookmark-settings:before { content: "\e746"; }
.sf-icon-bookmark-add:before { content: "\e747"; }
.sf-icon-bookmark-delete:before { content: "\e748"; }
.sf-icon-bookmark-down:before { content: "\e749"; }
.sf-icon-bookmark-new:before { content: "\e74a"; }
.sf-icon-bookmarks:before { content: "\e74b"; }
.sf-icon-bookmarks-favourites:before { content: "\e74c"; }
.sf-icon-bookmarks-locked:before { content: "\e74d"; }
.sf-icon-bookmarks-sync:before { content: "\e74e"; }
.sf-icon-bookmarks-upload:before { content: "\e74f"; }
.sf-icon-bookmark-settings:before { content: "\e750"; }
.sf-icon-bookmark-up:before { content: "\e751"; }
.sf-icon-book-open:before { content: "\e752"; }
.sf-icon-braces-01:before { content: "\e753"; }
.sf-icon-brackets-square:before { content: "\e754"; }
.sf-icon-bring-to-front:before { content: "\e755"; }
.sf-icon-bullet:before { content: "\e756"; }
.sf-icon-bullets:before { content: "\e757"; }
.sf-icon-bullets_01:before { content: "\e758"; }
.sf-icon-burn-disk-01:before { content: "\e759"; }
.sf-icon-burn-disk-02:before { content: "\e75a"; }
.sf-icon-c-sharp-01:before { content: "\e75b"; }
.sf-icon-c-sharp-02:before { content: "\e75c"; }
.sf-icon-calculator-01:before { content: "\e75d"; }
.sf-icon-calculator-02:before { content: "\e75e"; }
.sf-icon-calendar--01-:before { content: "\e75f"; }
.sf-icon-calendar--02:before { content: "\e760"; }
.sf-icon-calendar--03:before { content: "\e761"; }
.sf-icon-calendar--04:before { content: "\e762"; }
.sf-icon-calendar--05:before { content: "\e763"; }
.sf-icon-calendar-add:before { content: "\e764"; }
.sf-icon-calendar-delete:before { content: "\e765"; }
.sf-icon-calendar-download:before { content: "\e766"; }
.sf-icon-calendar-edit:before { content: "\e767"; }
.sf-icon-calendar-favourite:before { content: "\e768"; }
.sf-icon-calendar-help:before { content: "\e769"; }
.sf-icon-calendar-info:before { content: "\e76a"; }
.sf-icon-calendar-locked:before { content: "\e76b"; }
.sf-icon-calendar-next:before { content: "\e76c"; }
.sf-icon-calendar-ok:before { content: "\e76d"; }
.sf-icon-calendar-previous:before { content: "\e76e"; }
.sf-icon-calendar-remove:before { content: "\e76f"; }
.sf-icon-calendar-save:before { content: "\e770"; }
.sf-icon-calendar-settings:before { content: "\e771"; }
.sf-icon-calendar-unlocked:before { content: "\e772"; }
.sf-icon-calendar-upload:before { content: "\e773"; }
.sf-icon-calendar-01:before { content: "\e774"; }
.sf-icon-calendar-02:before { content: "\e775"; }
.sf-icon-ccleaner:before { content: "\e776"; }
.sf-icon-cd-catalog-01:before { content: "\e777"; }
.sf-icon-cd-catalog-02:before { content: "\e778"; }
.sf-icon-cd-music:before { content: "\e779"; }
.sf-icon-cd-new:before { content: "\e77a"; }
.sf-icon-cd-pause:before { content: "\e77b"; }
.sf-icon-cd-play:before { content: "\e77c"; }
.sf-icon-cd-software:before { content: "\e77d"; }
.sf-icon-cd-stop:before { content: "\e77e"; }
.sf-icon-cd-valid:before { content: "\e77f"; }
.sf-icon-cd-view:before { content: "\e780"; }
.sf-icon-cd-warning:before { content: "\e781"; }
.sf-icon-certificate-01:before { content: "\e782"; }
.sf-icon-certificate-02:before { content: "\e783"; }
.sf-icon-chart-bubble:before { content: "\e784"; }
.sf-icon-chart-doughnut:before { content: "\e785"; }
.sf-icon-chart-polar:before { content: "\e786"; }
.sf-icon-chart-radar:before { content: "\e787"; }
.sf-icon-chart-scatter:before { content: "\e788"; }
.sf-icon-chart-types:before { content: "\e789"; }
.sf-icon-check:before { content: "\e78a"; }
.sf-icon-check-01:before { content: "\e78b"; }
.sf-icon-check-02:before { content: "\e78c"; }
.sf-icon-check-03:before { content: "\e78d"; }
.sf-icon-circle:before { content: "\e78e"; }
.sf-icon-clear:before { content: "\e78f"; }
.sf-icon-clipboard:before { content: "\e790"; }
.sf-icon-clipboard-next-down:before { content: "\e791"; }
.sf-icon-clipboard-next:before { content: "\e792"; }
.sf-icon-clipboard-next-down:before { content: "\e793"; }
.sf-icon-cloud:before { content: "\e794"; }
.sf-icon-code:before { content: "\e795"; }
.sf-icon-columns:before { content: "\e796"; }
.sf-icon-column-selection:before { content: "\e797"; }
.sf-icon-command-paste:before { content: "\e798"; }
.sf-icon-command-redo:before { content: "\e799"; }
.sf-icon-command-refresh:before { content: "\e79a"; }
.sf-icon-command-refresh-01:before { content: "\e79b"; }
.sf-icon-command-reset:before { content: "\e79c"; }
.sf-icon-command-undo:before { content: "\e79d"; }
.sf-icon-comodo-dragon:before { content: "\e79e"; }
.sf-icon-computer-desktop:before { content: "\e79f"; }
.sf-icon-conference-call:before { content: "\e7a0"; }
.sf-icon-conference-call-01:before { content: "\e7a1"; }
.sf-icon-conference-call-02:before { content: "\e7a2"; }
.sf-icon-conference-call-03:before { content: "\e7a3"; }
.sf-icon-connection-to-a-computer:before { content: "\e7a4"; }
.sf-icon-connectivity-error:before { content: "\e7a5"; }
.sf-icon-contacts:before { content: "\e7a6"; }
.sf-icon-contacts-add:before { content: "\e7a7"; }
.sf-icon-contacts-delete:before { content: "\e7a8"; }
.sf-icon-contacts-download:before { content: "\e7a9"; }
.sf-icon-contacts-edit:before { content: "\e7aa"; }
.sf-icon-contacts-favourites:before { content: "\e7ab"; }
.sf-icon-contacts-find:before { content: "\e7ac"; }
.sf-icon-contacts-help:before { content: "\e7ad"; }
.sf-icon-contacts-info:before { content: "\e7ae"; }
.sf-icon-contacts-locked:before { content: "\e7af"; }
.sf-icon-contacts-next:before { content: "\e7b0"; }
.sf-icon-contacts-ok:before { content: "\e7b1"; }
.sf-icon-contacts-previous:before { content: "\e7b2"; }
.sf-icon-contacts-refresh:before { content: "\e7b3"; }
.sf-icon-contacts-remove:before { content: "\e7b4"; }
.sf-icon-contacts-save:before { content: "\e7b5"; }
.sf-icon-contacts-search:before { content: "\e7b6"; }
.sf-icon-contacts-settings:before { content: "\e7b7"; }
.sf-icon-contacts-sync:before { content: "\e7b8"; }
.sf-icon-contacts-unlocked:before { content: "\e7b9"; }
.sf-icon-contacts-upload:before { content: "\e7ba"; }
.sf-icon-copy:before { content: "\e7bb"; }
.sf-icon-copy_01:before { content: "\e7bc"; }
.sf-icon-copy_02:before { content: "\e7bd"; }
.sf-icon-crop:before { content: "\e7be"; }
.sf-icon-crop---01:before { content: "\e7bf"; }
.sf-icon-crop---02:before { content: "\e7c0"; }
.sf-icon-curve:before { content: "\e7c1"; }
.sf-icon-cut:before { content: "\e7c2"; }
.sf-icon-cut_02:before { content: "\e7c3"; }
.sf-icon-cut-01:before { content: "\e7c4"; }
.sf-icon-database-connection:before { content: "\e7c5"; }
.sf-icon-data-collapse:before { content: "\e7c6"; }
.sf-icon-data-defragmentation:before { content: "\e7c7"; }
.sf-icon-data-edit:before { content: "\e7c8"; }
.sf-icon-data-erase:before { content: "\e7c9"; }
.sf-icon-data-exchange:before { content: "\e7ca"; }
.sf-icon-data-export:before { content: "\e7cb"; }
.sf-icon-data-files:before { content: "\e7cc"; }
.sf-icon-data-histogram:before { content: "\e7cd"; }
.sf-icon-data-import:before { content: "\e7ce"; }
.sf-icon-data-information:before { content: "\e7cf"; }
.sf-icon-data-merge:before { content: "\e7d0"; }
.sf-icon-data-share:before { content: "\e7d1"; }
.sf-icon-data-split:before { content: "\e7d2"; }
.sf-icon-data-split-01:before { content: "\e7d3"; }
.sf-icon-data-synchronize:before { content: "\e7d4"; }
.sf-icon-data-text:before { content: "\e7d5"; }
.sf-icon-date-day-name:before { content: "\e7d6"; }
.sf-icon-decrease-indent:before { content: "\e7d7"; }
.sf-icon-decrease-intend:before { content: "\e7d8"; }
.sf-icon-delete-column:before { content: "\e7d9"; }
.sf-icon-delete-column)91:before { content: "\e7da"; }
.sf-icon-delete-row:before { content: "\e7db"; }
.sf-icon-delete-the-table:before { content: "\e7dc"; }
.sf-icon-despeckle-01:before { content: "\e7dd"; }
.sf-icon-device-headphone:before { content: "\e7de"; }
.sf-icon-device-radio:before { content: "\e7df"; }
.sf-icon-device-tablet:before { content: "\e7e0"; }
.sf-icon-dialog:before { content: "\e7e1"; }
.sf-icon-dialog-box-about:before { content: "\e7e2"; }
.sf-icon-disc:before { content: "\e7e3"; }
.sf-icon-disc-error:before { content: "\e7e4"; }
.sf-icon-disc-information:before { content: "\e7e5"; }
.sf-icon-display-brightness:before { content: "\e7e6"; }
.sf-icon-display-contrast:before { content: "\e7e7"; }
.sf-icon-display-contrast-02:before { content: "\e7e8"; }
.sf-icon-document-01:before { content: "\e7e9"; }
.sf-icon-document-02:before { content: "\e7ea"; }
.sf-icon-document-add:before { content: "\e7eb"; }
.sf-icon-document-add-01:before { content: "\e7ec"; }
.sf-icon-document-check:before { content: "\e7ed"; }
.sf-icon-document-delete:before { content: "\e7ee"; }
.sf-icon-document-delete-01:before { content: "\e7ef"; }
.sf-icon-document-download:before { content: "\e7f0"; }
.sf-icon-document-download-01:before { content: "\e7f1"; }
.sf-icon-document-edit:before { content: "\e7f2"; }
.sf-icon-document-error:before { content: "\e7f3"; }
.sf-icon-document-error-01:before { content: "\e7f4"; }
.sf-icon-document-exchange:before { content: "\e7f5"; }
.sf-icon-document-exchange-01:before { content: "\e7f6"; }
.sf-icon-document-find:before { content: "\e7f7"; }
.sf-icon-document-find-02:before { content: "\e7f8"; }
.sf-icon-document-music:before { content: "\e7f9"; }
.sf-icon-document-music-01:before { content: "\e7fa"; }
.sf-icon-document-music-02:before { content: "\e7fb"; }
.sf-icon-document-new:before { content: "\e7fc"; }
.sf-icon-documents-01:before { content: "\e7fd"; }
.sf-icon-documents-02:before { content: "\e7fe"; }
.sf-icon-document-save:before { content: "\e7ff"; }
.sf-icon-document-settings:before { content: "\e800"; }
.sf-icon-document-settings-01:before { content: "\e801"; }
.sf-icon-document-share:before { content: "\e802"; }
.sf-icon-document-share-01:before { content: "\e803"; }
.sf-icon-document-warning:before { content: "\e804"; }
.sf-icon-document-warning-01:before { content: "\e805"; }
.sf-icon-document-zoom-in:before { content: "\e806"; }
.sf-icon-document-zoom-in-01:before { content: "\e807"; }
.sf-icon-document-zoom-in-02:before { content: "\e808"; }
.sf-icon-document-zoom-out:before { content: "\e809"; }
.sf-icon-document-zoom-out-01:before { content: "\e80a"; }
.sf-icon-document-zoom-out-02:before { content: "\e80b"; }
.sf-icon-download:before { content: "\e80c"; }
.sf-icon-download-error:before { content: "\e80d"; }
.sf-icon-drag---01:before { content: "\e80e"; }
.sf-icon-drag--02:before { content: "\e80f"; }
.sf-icon-drag-02:before { content: "\e810"; }
.sf-icon-drop-box:before { content: "\e811"; }
.sf-icon-earth-quake:before { content: "\e812"; }
.sf-icon-edit:before { content: "\e813"; }
.sf-icon-ellipse-selection:before { content: "\e814"; }
.sf-icon-execute-multiple-queries:before { content: "\e815"; }
.sf-icon-expand-01:before { content: "\e816"; }
.sf-icon-expand-02:before { content: "\e817"; }
.sf-icon-expand-03:before { content: "\e818"; }
.sf-icon-expander-down---01:before { content: "\e819"; }
.sf-icon-expansion---01:before { content: "\e81a"; }
.sf-icon-expansion---02:before { content: "\e81b"; }
.sf-icon-favourites:before { content: "\e81c"; }
.sf-icon-favourites-add:before { content: "\e81d"; }
.sf-icon-favourites-delete:before { content: "\e81e"; }
.sf-icon-favourites-download:before { content: "\e81f"; }
.sf-icon-favourites-download-2:before { content: "\e820"; }
.sf-icon-favourites-edit:before { content: "\e821"; }
.sf-icon-favourites-favourites:before { content: "\e822"; }
.sf-icon-favourites-find:before { content: "\e823"; }
.sf-icon-favourites-help:before { content: "\e824"; }
.sf-icon-favourites-info:before { content: "\e825"; }
.sf-icon-favourites-locked:before { content: "\e826"; }
.sf-icon-favourites-next:before { content: "\e827"; }
.sf-icon-favourites-next--2:before { content: "\e828"; }
.sf-icon-favourites-ok:before { content: "\e829"; }
.sf-icon-favourites-previous:before { content: "\e82a"; }
.sf-icon-favourites-refresh:before { content: "\e82b"; }
.sf-icon-favourites-remove:before { content: "\e82c"; }
.sf-icon-favourites-save:before { content: "\e82d"; }
.sf-icon-favourites-search:before { content: "\e82e"; }
.sf-icon-favourites-settings:before { content: "\e82f"; }
.sf-icon-favourites-sync:before { content: "\e830"; }
.sf-icon-favourites-unlocked:before { content: "\e831"; }
.sf-icon-favourites-upload:before { content: "\e832"; }
.sf-icon-file:before { content: "\e833"; }
.sf-icon-file-add:before { content: "\e834"; }
.sf-icon-file-delete:before { content: "\e835"; }
.sf-icon-file-download:before { content: "\e836"; }
.sf-icon-file-edit:before { content: "\e837"; }
.sf-icon-file-favourite:before { content: "\e838"; }
.sf-icon-file-find:before { content: "\e839"; }
.sf-icon-file-help:before { content: "\e83a"; }
.sf-icon-file-info:before { content: "\e83b"; }
.sf-icon-file-lock:before { content: "\e83c"; }
.sf-icon-file-next:before { content: "\e83d"; }
.sf-icon-file-ok:before { content: "\e83e"; }
.sf-icon-file-previous:before { content: "\e83f"; }
.sf-icon-file-refresh:before { content: "\e840"; }
.sf-icon-file-remove:before { content: "\e841"; }
.sf-icon-file-save:before { content: "\e842"; }
.sf-icon-file-search:before { content: "\e843"; }
.sf-icon-file-settings:before { content: "\e844"; }
.sf-icon-file-sync:before { content: "\e845"; }
.sf-icon-file-unlock:before { content: "\e846"; }
.sf-icon-file-upload:before { content: "\e847"; }
.sf-icon-file-format-bitmap:before { content: "\e848"; }
.sf-icon-file-format-eps:before { content: "\e849"; }
.sf-icon-file-format-gif:before { content: "\e84a"; }
.sf-icon-file-format-icon:before { content: "\e84b"; }
.sf-icon-file-format-jpeg:before { content: "\e84c"; }
.sf-icon-file-format-mp3:before { content: "\e84d"; }
.sf-icon-file-format-png:before { content: "\e84e"; }
.sf-icon-file-format-ppt:before { content: "\e84f"; }
.sf-icon-file-format-swf:before { content: "\e850"; }
.sf-icon-file-format-tga:before { content: "\e851"; }
.sf-icon-file-format-tiff:before { content: "\e852"; }
.sf-icon-file-format-wave:before { content: "\e853"; }
.sf-icon-file-format-zip:before { content: "\e854"; }
.sf-icon-file-torrent:before { content: "\e855"; }
.sf-icon-find-previous:before { content: "\e856"; }
.sf-icon-find-replace:before { content: "\e857"; }
.sf-icon-find-replace-01:before { content: "\e858"; }
.sf-icon-fit-to-size:before { content: "\e859"; }
.sf-icon-flash-player:before { content: "\e85a"; }
.sf-icon-folder--zoom-out--wf:before { content: "\e85b"; }
.sf-icon-folder-1--wf:before { content: "\e85c"; }
.sf-icon-folder-01:before { content: "\e85d"; }
.sf-icon-folder-02:before { content: "\e85e"; }
.sf-icon-folder-03:before { content: "\e85f"; }
.sf-icon-folder-04:before { content: "\e860"; }
.sf-icon-folder-05:before { content: "\e861"; }
.sf-icon-folder-add:before { content: "\e862"; }
.sf-icon-folder-add-01:before { content: "\e863"; }
.sf-icon-folder-add-02:before { content: "\e864"; }
.sf-icon-folder-add-03:before { content: "\e865"; }
.sf-icon-folder-add-04:before { content: "\e866"; }
.sf-icon-folder-add-05:before { content: "\e867"; }
.sf-icon-folder-connect:before { content: "\e868"; }
.sf-icon-folder-cube:before { content: "\e869"; }
.sf-icon-folder-cube-01:before { content: "\e86a"; }
.sf-icon-folder-delete:before { content: "\e86b"; }
.sf-icon-folder-delete-01:before { content: "\e86c"; }
.sf-icon-folder-download:before { content: "\e86d"; }
.sf-icon-folder-download-01:before { content: "\e86e"; }
.sf-icon-folder-download-02:before { content: "\e86f"; }
.sf-icon-folder-edit:before { content: "\e870"; }
.sf-icon-folder-edit-01:before { content: "\e871"; }
.sf-icon-folder-empty:before { content: "\e872"; }
.sf-icon-folder-find-01:before { content: "\e873"; }
.sf-icon-folder-information:before { content: "\e874"; }
.sf-icon-folder-movie:before { content: "\e875"; }
.sf-icon-folder-movie-01:before { content: "\e876"; }
.sf-icon-folder-movie-02:before { content: "\e877"; }
.sf-icon-folder-movie-03:before { content: "\e878"; }
.sf-icon-folder-music:before { content: "\e879"; }
.sf-icon-folder-music-01:before { content: "\e87a"; }
.sf-icon-folder-music-02:before { content: "\e87b"; }
.sf-icon-folder-new:before { content: "\e87c"; }
.sf-icon-folder-new-01:before { content: "\e87d"; }
.sf-icon-folder-ok:before { content: "\e87e"; }
.sf-icon-folder-open-01:before { content: "\e87f"; }
.sf-icon-folder-open-03:before { content: "\e880"; }
.sf-icon-folder-picture:before { content: "\e881"; }
.sf-icon-folder-remove-01:before { content: "\e882"; }
.sf-icon-folder-remove-02:before { content: "\e883"; }
.sf-icon-folder-remove-03:before { content: "\e884"; }
.sf-icon-folder-remove-04:before { content: "\e885"; }
.sf-icon-folder-share-01:before { content: "\e886"; }
.sf-icon-folder-upload:before { content: "\e887"; }
.sf-icon-folder-upload-01:before { content: "\e888"; }
.sf-icon-folder-upload-02:before { content: "\e889"; }
.sf-icon-folder-zoom-in:before { content: "\e88a"; }
.sf-icon-folder-zoom-out-01:before { content: "\e88b"; }
.sf-icon-font:before { content: "\e88c"; }
.sf-icon-forest-fire:before { content: "\e88d"; }
.sf-icon-format-bullets:before { content: "\e88e"; }
.sf-icon-format-bullets-01:before { content: "\e88f"; }
.sf-icon-format-bullets-02:before { content: "\e890"; }
.sf-icon-free-hand-selection:before { content: "\e891"; }
.sf-icon-freeze:before { content: "\e892"; }
.sf-icon-freezecolumnbefore:before { content: "\e893"; }
.sf-icon-full-screen-collapse:before { content: "\e894"; }
.sf-icon-full-screen-collapse_01:before { content: "\e895"; }
.sf-icon-full-screen-expand:before { content: "\e896"; }
.sf-icon-full-screen-expand_01:before { content: "\e897"; }
.sf-icon-full-screen-collapse:before { content: "\e898"; }
.sf-icon-full-screen-expand:before { content: "\e899"; }
.sf-icon-garbage-closed:before { content: "\e89a"; }
.sf-icon-garbage-full:before { content: "\e89b"; }
.sf-icon-garbage-open:before { content: "\e89c"; }
.sf-icon-gear--03wf:before { content: "\e89d"; }
.sf-icon-globe:before { content: "\e89e"; }
.sf-icon-google-drive:before { content: "\e89f"; }
.sf-icon-graphics-card:before { content: "\e8a0"; }
.sf-icon-group-add:before { content: "\e8a1"; }
.sf-icon-group-cluster:before { content: "\e8a2"; }
.sf-icon-group-delete:before { content: "\e8a3"; }
.sf-icon-group-modify:before { content: "\e8a4"; }
.sf-icon-gsm-tower:before { content: "\e8a5"; }
.sf-icon-help:before { content: "\e8a6"; }
.sf-icon-help---01:before { content: "\e8a7"; }
.sf-icon-help---02:before { content: "\e8a8"; }
.sf-icon-hide:before { content: "\e8a9"; }
.sf-icon-hook:before { content: "\e8aa"; }
.sf-icon-horizontal-align-left:before { content: "\e8ab"; }
.sf-icon-horizontal-align-right:before { content: "\e8ac"; }
.sf-icon-increase-indent:before { content: "\e8ad"; }
.sf-icon-increase-intend:before { content: "\e8ae"; }
.sf-icon-indent:before { content: "\e8af"; }
.sf-icon-indent_01:before { content: "\e8b0"; }
.sf-icon-infrared:before { content: "\e8b1"; }
.sf-icon-insert-column-lef_01:before { content: "\e8b2"; }
.sf-icon-insert-column-left:before { content: "\e8b3"; }
.sf-icon-insert-column-right:before { content: "\e8b4"; }
.sf-icon-insert-column-right_01:before { content: "\e8b5"; }
.sf-icon-insert-row-above:before { content: "\e8b6"; }
.sf-icon-insert-row-above_01:before { content: "\e8b7"; }
.sf-icon-insert-row-above_02:before { content: "\e8b8"; }
.sf-icon-insert-row-below:before { content: "\e8b9"; }
.sf-icon-insert-row-below_01:before { content: "\e8ba"; }
.sf-icon-insert-row-below_02:before { content: "\e8bb"; }
.sf-icon-installation-01:before { content: "\e8bc"; }
.sf-icon-installation-02:before { content: "\e8bd"; }
.sf-icon-installation-03:before { content: "\e8be"; }
.sf-icon-internet-facilities:before { content: "\e8bf"; }
.sf-icon-iolap-list-type_04:before { content: "\e8c0"; }
.sf-icon-iolap-list-type_05:before { content: "\e8c1"; }
.sf-icon-italic:before { content: "\e8c2"; }
.sf-icon-italic_01:before { content: "\e8c3"; }
.sf-icon-js-playground:before { content: "\e8c4"; }
.sf-icon-key-access:before { content: "\e8c5"; }
.sf-icon-key-access-01:before { content: "\e8c6"; }
.sf-icon-key-hash:before { content: "\e8c7"; }
.sf-icon-lambda-01:before { content: "\e8c8"; }
.sf-icon-layers:before { content: "\e8c9"; }
.sf-icon-line:before { content: "\e8ca"; }
.sf-icon-link:before { content: "\e8cb"; }
.sf-icon-link---01:before { content: "\e8cc"; }
.sf-icon-link---02:before { content: "\e8cd"; }
.sf-icon-link---03:before { content: "\e8ce"; }
.sf-icon-link---04:before { content: "\e8cf"; }
.sf-icon-link---05:before { content: "\e8d0"; }
.sf-icon-link---06:before { content: "\e8d1"; }
.sf-icon-link---07:before { content: "\e8d2"; }
.sf-icon-link_02:before { content: "\e8d3"; }
.sf-icon-link_03:before { content: "\e8d4"; }
.sf-icon-link-01:before { content: "\e8d5"; }
.sf-icon-list:before { content: "\e8d6"; }
.sf-icon-list-greek:before { content: "\e8d7"; }
.sf-icon-list-numbered_01:before { content: "\e8d8"; }
.sf-icon-listen:before { content: "\e8d9"; }
.sf-icon-load-report:before { content: "\e8da"; }
.sf-icon-loading---01:before { content: "\e8db"; }
.sf-icon-loading---02:before { content: "\e8dc"; }
.sf-icon-loading---03:before { content: "\e8dd"; }
.sf-icon-loading---04:before { content: "\e8de"; }
.sf-icon-loading---05:before { content: "\e8df"; }
.sf-icon-loading---06:before { content: "\e8e0"; }
.sf-icon-loading---08:before { content: "\e8e1"; }
.sf-icon-loading---09:before { content: "\e8e2"; }
.sf-icon-loading---10:before { content: "\e8e3"; }
.sf-icon-loading---11:before { content: "\e8e4"; }
.sf-icon-log-file-icon:before { content: "\e8e5"; }
.sf-icon-log-file-icon-2:before { content: "\e8e6"; }
.sf-icon-login-01:before { content: "\e8e7"; }
.sf-icon-login-02:before { content: "\e8e8"; }
.sf-icon-login-arrow:before { content: "\e8e9"; }
.sf-icon-login-door:before { content: "\e8ea"; }
.sf-icon-lower-alphabet:before { content: "\e8eb"; }
.sf-icon-lower-case:before { content: "\e8ec"; }
.sf-icon-lower-case_01:before { content: "\e8ed"; }
.sf-icon-lower-roman:before { content: "\e8ee"; }
.sf-icon-mail:before { content: "\e8ef"; }
.sf-icon-mail---01:before { content: "\e8f0"; }
.sf-icon-mail---02:before { content: "\e8f1"; }
.sf-icon-mail---sent:before { content: "\e8f2"; }
.sf-icon-mail--03:before { content: "\e8f3"; }
.sf-icon-mail-add:before { content: "\e8f4"; }
.sf-icon-mail-delete:before { content: "\e8f5"; }
.sf-icon-mail-download:before { content: "\e8f6"; }
.sf-icon-mail-edit:before { content: "\e8f7"; }
.sf-icon-mail-favourites:before { content: "\e8f8"; }
.sf-icon-mail-help:before { content: "\e8f9"; }
.sf-icon-mail-info:before { content: "\e8fa"; }
.sf-icon-mail-locked:before { content: "\e8fb"; }
.sf-icon-mail-next:before { content: "\e8fc"; }
.sf-icon-mail-ok:before { content: "\e8fd"; }
.sf-icon-mail--open:before { content: "\e8fe"; }
.sf-icon-mail-previous:before { content: "\e8ff"; }
.sf-icon-mail-refresh:before { content: "\e900"; }
.sf-icon-mail-remove:before { content: "\e901"; }
.sf-icon-mail-save:before { content: "\e902"; }
.sf-icon-mail-search:before { content: "\e903"; }
.sf-icon-mail-settings:before { content: "\e904"; }
.sf-icon-mail-sync:before { content: "\e905"; }
.sf-icon-mail-unlocked:before { content: "\e906"; }
.sf-icon-mail-upload:before { content: "\e907"; }
.sf-icon-mail,find:before { content: "\e908"; }
.sf-icon-mail-box:before { content: "\e909"; }
.sf-icon-main-numbering:before { content: "\e90a"; }
.sf-icon-margin---01:before { content: "\e90b"; }
.sf-icon-margin---02:before { content: "\e90c"; }
.sf-icon-maximize---01:before { content: "\e90d"; }
.sf-icon-maximize---02:before { content: "\e90e"; }
.sf-icon-maximize---04:before { content: "\e90f"; }
.sf-icon-maximize--03:before { content: "\e910"; }
.sf-icon-maximize_01:before { content: "\e911"; }
.sf-icon-maximize_02:before { content: "\e912"; }
.sf-icon-measurements---01:before { content: "\e913"; }
.sf-icon-measurements---02:before { content: "\e914"; }
.sf-icon-measurements---03:before { content: "\e915"; }
.sf-icon-measurements---04:before { content: "\e916"; }
.sf-icon-media-backward:before { content: "\e917"; }
.sf-icon-media-backward_01:before { content: "\e918"; }
.sf-icon-media-backward_02:before { content: "\e919"; }
.sf-icon-media-backward_04:before { content: "\e91a"; }
.sf-icon-media-eject:before { content: "\e91b"; }
.sf-icon-media-eject-01:before { content: "\e91c"; }
.sf-icon-media-fast-forward:before { content: "\e91d"; }
.sf-icon-media-fast-forward---01:before { content: "\e91e"; }
.sf-icon-media-first:before { content: "\e91f"; }
.sf-icon-media-forward:before { content: "\e920"; }
.sf-icon-media-forward_01:before { content: "\e921"; }
.sf-icon-media-forward_02:before { content: "\e922"; }
.sf-icon-media-last:before { content: "\e923"; }
.sf-icon-media-next:before { content: "\e924"; }
.sf-icon-media-next-01:before { content: "\e925"; }
.sf-icon-media-pause:before { content: "\e926"; }
.sf-icon-media-pause-01:before { content: "\e927"; }
.sf-icon-media-play:before { content: "\e928"; }
.sf-icon-media-previous:before { content: "\e929"; }
.sf-icon-media-previous-01:before { content: "\e92a"; }
.sf-icon-media-rewind:before { content: "\e92b"; }
.sf-icon-media-rewind--01:before { content: "\e92c"; }
.sf-icon-media-back:before { content: "\e92d"; }
.sf-icon-media-end:before { content: "\e92e"; }
.sf-icon-media-fast-forward:before { content: "\e92f"; }
.sf-icon-media-pause:before { content: "\e930"; }
.sf-icon-media-play:before { content: "\e931"; }
.sf-icon-media-play-01:before { content: "\e932"; }
.sf-icon-media-play-02:before { content: "\e933"; }
.sf-icon-media-player-vlc:before { content: "\e934"; }
.sf-icon-media-player-winamp:before { content: "\e935"; }
.sf-icon-media-start:before { content: "\e936"; }
.sf-icon-media-stop:before { content: "\e937"; }
.sf-icon-message-mail:before { content: "\e938"; }
.sf-icon-message-voice-mail:before { content: "\e939"; }
.sf-icon-message-warning:before { content: "\e93a"; }
.sf-icon-minimize---01:before { content: "\e93b"; }
.sf-icon-mobile-phone-message:before { content: "\e93c"; }
.sf-icon-mobile-phone-music:before { content: "\e93d"; }
.sf-icon-money-coin:before { content: "\e93e"; }
.sf-icon-money-coin-01:before { content: "\e93f"; }
.sf-icon-money-credit-card:before { content: "\e940"; }
.sf-icon-money-gold:before { content: "\e941"; }
.sf-icon-mouse-drag:before { content: "\e942"; }
.sf-icon-mouse-wireless:before { content: "\e943"; }
.sf-icon-move---01:before { content: "\e944"; }
.sf-icon-movie:before { content: "\e945"; }
.sf-icon-movie-add:before { content: "\e946"; }
.sf-icon-movie-delete:before { content: "\e947"; }
.sf-icon-movie-download:before { content: "\e948"; }
.sf-icon-movie-edit:before { content: "\e949"; }
.sf-icon-movie-fav:before { content: "\e94a"; }
.sf-icon-movie-find:before { content: "\e94b"; }
.sf-icon-movie-help:before { content: "\e94c"; }
.sf-icon-movie-info:before { content: "\e94d"; }
.sf-icon-movie-locked:before { content: "\e94e"; }
.sf-icon-movie-next:before { content: "\e94f"; }
.sf-icon-movie-ok:before { content: "\e950"; }
.sf-icon-movie-previous:before { content: "\e951"; }
.sf-icon-movie-refresh:before { content: "\e952"; }
.sf-icon-movie-remove:before { content: "\e953"; }
.sf-icon-movie-save:before { content: "\e954"; }
.sf-icon-movie-search:before { content: "\e955"; }
.sf-icon-movie-settings:before { content: "\e956"; }
.sf-icon-movie-sync:before { content: "\e957"; }
.sf-icon-movie-unlocked:before { content: "\e958"; }
.sf-icon-movie-upload:before { content: "\e959"; }
.sf-icon-mug:before { content: "\e95a"; }
.sf-icon-multiple-threads:before { content: "\e95b"; }
.sf-icon-music-icon:before { content: "\e95c"; }
.sf-icon-navigation-down:before { content: "\e95d"; }
.sf-icon-navigation-down-right:before { content: "\e95e"; }
.sf-icon-navigation-right:before { content: "\e95f"; }
.sf-icon-navigation-up-left:before { content: "\e960"; }
.sf-icon-network-01:before { content: "\e961"; }
.sf-icon-network-drives:before { content: "\e962"; }
.sf-icon-network-signal:before { content: "\e963"; }
.sf-icon-new-report:before { content: "\e964"; }
.sf-icon-noise:before { content: "\e965"; }
.sf-icon-none:before { content: "\e966"; }
.sf-icon-numbering:before { content: "\e967"; }
.sf-icon-numbering-:before { content: "\e968"; }
.sf-icon-olap-list-menu:before { content: "\e969"; }
.sf-icon-olap-list-type_01:before { content: "\e96a"; }
.sf-icon-olap-list-type_02:before { content: "\e96b"; }
.sf-icon-olap-list-type_03:before { content: "\e96c"; }
.sf-icon-olap-list_06:before { content: "\e96d"; }
.sf-icon-orientation-landscape:before { content: "\e96e"; }
.sf-icon-orientation-portrait:before { content: "\e96f"; }
.sf-icon-outdent:before { content: "\e970"; }
.sf-icon-outdent_01:before { content: "\e971"; }
.sf-icon-paperclip:before { content: "\e972"; }
.sf-icon-paperclip_01:before { content: "\e973"; }
.sf-icon-para-mark---01:before { content: "\e974"; }
.sf-icon-para-mark---02:before { content: "\e975"; }
.sf-icon-para-mark---03:before { content: "\e976"; }
.sf-icon-parenthesis:before { content: "\e977"; }
.sf-icon-password-text:before { content: "\e978"; }
.sf-icon-password-text-01:before { content: "\e979"; }
.sf-icon-paste:before { content: "\e97a"; }
.sf-icon-paste_01:before { content: "\e97b"; }
.sf-icon-phonebook-:before { content: "\e97c"; }
.sf-icon-phonebook-,-download:before { content: "\e97d"; }
.sf-icon-phonebook-,-upload:before { content: "\e97e"; }
.sf-icon-phonebook-add:before { content: "\e97f"; }
.sf-icon-phonebook-delete:before { content: "\e980"; }
.sf-icon-phonebook-edit:before { content: "\e981"; }
.sf-icon-phonebook-favourites:before { content: "\e982"; }
.sf-icon-phonebook-find:before { content: "\e983"; }
.sf-icon-phonebook-help:before { content: "\e984"; }
.sf-icon-phonebook-info:before { content: "\e985"; }
.sf-icon-phonebook-locked:before { content: "\e986"; }
.sf-icon-phonebook-next:before { content: "\e987"; }
.sf-icon-phonebook-ok:before { content: "\e988"; }
.sf-icon-phonebook-previous:before { content: "\e989"; }
.sf-icon-phonebook-refresh:before { content: "\e98a"; }
.sf-icon-phonebook-remove:before { content: "\e98b"; }
.sf-icon-phonebook-save:before { content: "\e98c"; }
.sf-icon-phonebook-search:before { content: "\e98d"; }
.sf-icon-phonebook-settings:before { content: "\e98e"; }
.sf-icon-phonebook-sync:before { content: "\e98f"; }
.sf-icon-phonebook-unlocked:before { content: "\e990"; }
.sf-icon-phonebook--wf:before { content: "\e991"; }
.sf-icon-play-circle:before { content: "\e992"; }
.sf-icon-play-once:before { content: "\e993"; }
.sf-icon-pointer:before { content: "\e994"; }
.sf-icon-power-plant:before { content: "\e995"; }
.sf-icon-power-off:before { content: "\e996"; }
.sf-icon-pressure:before { content: "\e997"; }
.sf-icon-product-box:before { content: "\e998"; }
.sf-icon-product-box-with-disc:before { content: "\e999"; }
.sf-icon-quotation-marks:before { content: "\e99a"; }
.sf-icon-rating---01:before { content: "\e99b"; }
.sf-icon-rating---02:before { content: "\e99c"; }
.sf-icon-rating---03:before { content: "\e99d"; }
.sf-icon-rectangle-selection:before { content: "\e99e"; }
.sf-icon-recycle-bin-:before { content: "\e99f"; }
.sf-icon-redo:before { content: "\e9a0"; }
.sf-icon-redo_01:before { content: "\e9a1"; }
.sf-icon-reload---01:before { content: "\e9a2"; }
.sf-icon-remove-report:before { content: "\e9a3"; }
.sf-icon-rename-column:before { content: "\e9a4"; }
.sf-icon-rename-report:before { content: "\e9a5"; }
.sf-icon-resize-handle:before { content: "\e9a6"; }
.sf-icon-restore:before { content: "\e9a7"; }
.sf-icon-restore-01:before { content: "\e9a8"; }
.sf-icon-restore-02:before { content: "\e9a9"; }
.sf-icon-rope-lasso:before { content: "\e9aa"; }
.sf-icon-row-selection:before { content: "\e9ab"; }
.sf-icon-rss-feeds:before { content: "\e9ac"; }
.sf-icon-save:before { content: "\e9ad"; }
.sf-icon-save_01:before { content: "\e9ae"; }
.sf-icon-save_02:before { content: "\e9af"; }
.sf-icon-save-01:before { content: "\e9b0"; }
.sf-icon-scale-to-fit-02:before { content: "\e9b1"; }
.sf-icon-scale-to-fit:before { content: "\e9b2"; }
.sf-icon-sccm:before { content: "\e9b3"; }
.sf-icon-search-find:before { content: "\e9b4"; }
.sf-icon-security-group-member:before { content: "\e9b5"; }
.sf-icon-send-to-back:before { content: "\e9b6"; }
.sf-icon-shape-cube:before { content: "\e9b7"; }
.sf-icon-share-01:before { content: "\e9b8"; }
.sf-icon-share-02:before { content: "\e9b9"; }
.sf-icon-share-03:before { content: "\e9ba"; }
.sf-icon-show:before { content: "\e9bb"; }
.sf-icon-shrink---01:before { content: "\e9bc"; }
.sf-icon-skew:before { content: "\e9bd"; }
.sf-icon-slash:before { content: "\e9be"; }
.sf-icon-smiley:before { content: "\e9bf"; }
.sf-icon-software-sap:before { content: "\e9c0"; }
.sf-icon-sort-alpha-asc:before { content: "\e9c1"; }
.sf-icon-sort-alpha-desc:before { content: "\e9c2"; }
.sf-icon-sort-ascending:before { content: "\e9c3"; }
.sf-icon-sort-descending:before { content: "\e9c4"; }
.sf-icon-sort-filter-(column):before { content: "\e9c5"; }
.sf-icon-sort-filter-(row):before { content: "\e9c6"; }
.sf-icon-sort-ascending:before { content: "\e9c7"; }
.sf-icon-sort-descending:before { content: "\e9c8"; }
.sf-icon-speaker---01:before { content: "\e9c9"; }
.sf-icon-speaker---02:before { content: "\e9ca"; }
.sf-icon-speaker---03:before { content: "\e9cb"; }
.sf-icon-speaker---04:before { content: "\e9cc"; }
.sf-icon-speaker--audible---01:before { content: "\e9cd"; }
.sf-icon-speaker--audible---02:before { content: "\e9ce"; }
.sf-icon-speaker--low---02:before { content: "\e9cf"; }
.sf-icon-speaker--low--01:before { content: "\e9d0"; }
.sf-icon-speaker-decrease---01:before { content: "\e9d1"; }
.sf-icon-speaker-increase---01:before { content: "\e9d2"; }
.sf-icon-speaker-increase---02:before { content: "\e9d3"; }
.sf-icon-speaker-mute---01:before { content: "\e9d4"; }
.sf-icon-speaker-mute---03:before { content: "\e9d5"; }
.sf-icon-speaker-mute---04:before { content: "\e9d6"; }
.sf-icon-speaker-01:before { content: "\e9d7"; }
.sf-icon-speaker-02:before { content: "\e9d8"; }
.sf-icon-spell-check:before { content: "\e9d9"; }
.sf-icon-spline:before { content: "\e9da"; }
.sf-icon-spline-area:before { content: "\e9db"; }
.sf-icon-sqyare:before { content: "\e9dc"; }
.sf-icon-stack-add:before { content: "\e9dd"; }
.sf-icon-stack-01:before { content: "\e9de"; }
.sf-icon-stack-02:before { content: "\e9df"; }
.sf-icon-stack-03:before { content: "\e9e0"; }
.sf-icon-stacking-area:before { content: "\e9e1"; }
.sf-icon-steparea:before { content: "\e9e2"; }
.sf-icon-stepline:before { content: "\e9e3"; }
.sf-icon-stop:before { content: "\e9e4"; }
.sf-icon-stop-media:before { content: "\e9e5"; }
.sf-icon-stop-media--02wf:before { content: "\e9e6"; }
.sf-icon-strike-through:before { content: "\e9e7"; }
.sf-icon-strike-through_01:before { content: "\e9e8"; }
.sf-icon-submit-01:before { content: "\e9e9"; }
.sf-icon-submit-02:before { content: "\e9ea"; }
.sf-icon-subscript:before { content: "\e9eb"; }
.sf-icon-subscript_01:before { content: "\e9ec"; }
.sf-icon-summary-p-and-l:before { content: "\e9ed"; }
.sf-icon-superscript:before { content: "\e9ee"; }
.sf-icon-superscript_01:before { content: "\e9ef"; }
.sf-icon-sync---01:before { content: "\e9f0"; }
.sf-icon-sync---02:before { content: "\e9f1"; }
.sf-icon-sync---03:before { content: "\e9f2"; }
.sf-icon-tab-history:before { content: "\e9f3"; }
.sf-icon-table:before { content: "\e9f4"; }
.sf-icon-table_01:before { content: "\e9f5"; }
.sf-icon-table_02:before { content: "\e9f6"; }
.sf-icon-task-01:before { content: "\e9f7"; }
.sf-icon-task-02:before { content: "\e9f8"; }
.sf-icon-tasks:before { content: "\e9f9"; }
.sf-icon-team-viewer:before { content: "\e9fa"; }
.sf-icon-temporary-folder:before { content: "\e9fb"; }
.sf-icon-text:before { content: "\e9fc"; }
.sf-icon-text-decoration---01:before { content: "\e9fd"; }
.sf-icon-text-decoration---02:before { content: "\e9fe"; }
.sf-icon-text-decoration---03:before { content: "\e9ff"; }
.sf-icon-text-decoration---04:before { content: "\ea00"; }
.sf-icon-text-decoration---05:before { content: "\ea01"; }
.sf-icon-text-decoration---06:before { content: "\ea02"; }
.sf-icon-text-decoration---07:before { content: "\ea03"; }
.sf-icon-text-decoration---08:before { content: "\ea04"; }
.sf-icon-text-decoration---09:before { content: "\ea05"; }
.sf-icon-text-decoration---10:before { content: "\ea06"; }
.sf-icon-text-decoration---11:before { content: "\ea07"; }
.sf-icon-text-decoration---12:before { content: "\ea08"; }
.sf-icon-text-decoration---13:before { content: "\ea09"; }
.sf-icon-text-decoration---15:before { content: "\ea0a"; }
.sf-icon-text-decoration---16:before { content: "\ea0b"; }
.sf-icon-text-decoration-03:before { content: "\ea0c"; }
.sf-icon-text-decoration-04:before { content: "\ea0d"; }
.sf-icon-text-decoration-05:before { content: "\ea0e"; }
.sf-icon-text-decoration-06:before { content: "\ea0f"; }
.sf-icon-text-decoration-07:before { content: "\ea10"; }
.sf-icon-text-protected-01:before { content: "\ea11"; }
.sf-icon-text-protected-02:before { content: "\ea12"; }
.sf-icon-text-bold:before { content: "\ea13"; }
.sf-icon-text-braille:before { content: "\ea14"; }
.sf-icon-textdecorations:before { content: "\ea15"; }
.sf-icon-text-edit:before { content: "\ea16"; }
.sf-icon-text-highlight:before { content: "\ea17"; }
.sf-icon-text-italic:before { content: "\ea18"; }
.sf-icon-text-mark:before { content: "\ea19"; }
.sf-icon-text-normal:before { content: "\ea1a"; }
.sf-icon-text-read:before { content: "\ea1b"; }
.sf-icon-th:before { content: "\ea1c"; }
.sf-icon-th-large:before { content: "\ea1d"; }
.sf-icon-th-list:before { content: "\ea1e"; }
.sf-icon-th-small:before { content: "\ea1f"; }
.sf-icon-tile-shape---01:before { content: "\ea20"; }
.sf-icon-tile-shape---02:before { content: "\ea21"; }
.sf-icon-tile-02:before { content: "\ea22"; }
.sf-icon-tiles:before { content: "\ea23"; }
.sf-icon-tiles-01:before { content: "\ea24"; }
.sf-icon-timer:before { content: "\ea25"; }
.sf-icon-to-do-list---01:before { content: "\ea26"; }
.sf-icon-to-do-list---02:before { content: "\ea27"; }
.sf-icon-to-do-list---03:before { content: "\ea28"; }
.sf-icon-toggle-axis:before { content: "\ea29"; }
.sf-icon-top:before { content: "\ea2a"; }
.sf-icon-trash-can---01:before { content: "\ea2b"; }
.sf-icon-trash-can---02:before { content: "\ea2c"; }
.sf-icon-trash-can---03:before { content: "\ea2d"; }
.sf-icon-trash-can---04:before { content: "\ea2e"; }
.sf-icon-tsunami:before { content: "\ea2f"; }
.sf-icon-underline:before { content: "\ea30"; }
.sf-icon-underline_01:before { content: "\ea31"; }
.sf-icon-underline-02:before { content: "\ea32"; }
.sf-icon-undo:before { content: "\ea33"; }
.sf-icon-undo_01:before { content: "\ea34"; }
.sf-icon-unfreeze:before { content: "\ea35"; }
.sf-icon-unlink:before { content: "\ea36"; }
.sf-icon-unlink_01:before { content: "\ea37"; }
.sf-icon-unlink_02:before { content: "\ea38"; }
.sf-icon-up-arrow:before { content: "\ea39"; }
.sf-icon-up-arrow---01:before { content: "\ea3a"; }
.sf-icon-up-arrow---02:before { content: "\ea3b"; }
.sf-icon-up-arrow---03:before { content: "\ea3c"; }
.sf-icon-upload:before { content: "\ea3d"; }
.sf-icon-upload---01:before { content: "\ea3e"; }
.sf-icon-upload---02:before { content: "\ea3f"; }
.sf-icon-upper-alphabet:before { content: "\ea40"; }
.sf-icon-upper-case:before { content: "\ea41"; }
.sf-icon-upper-case_01:before { content: "\ea42"; }
.sf-icon-upper-roman:before { content: "\ea43"; }
.sf-icon-user:before { content: "\ea44"; }
.sf-icon-user-add:before { content: "\ea45"; }
.sf-icon-user-delete:before { content: "\ea46"; }
.sf-icon-user-download:before { content: "\ea47"; }
.sf-icon-user-edit-01:before { content: "\ea48"; }
.sf-icon-user-favourites:before { content: "\ea49"; }
.sf-icon-user-find:before { content: "\ea4a"; }
.sf-icon-user-help:before { content: "\ea4b"; }
.sf-icon-user-info:before { content: "\ea4c"; }
.sf-icon-user-locked:before { content: "\ea4d"; }
.sf-icon-user-next:before { content: "\ea4e"; }
.sf-icon-user-ok:before { content: "\ea4f"; }
.sf-icon-user-previous:before { content: "\ea50"; }
.sf-icon-user-refresh:before { content: "\ea51"; }
.sf-icon-user-remove:before { content: "\ea52"; }
.sf-icon-user-save:before { content: "\ea53"; }
.sf-icon-user-search:before { content: "\ea54"; }
.sf-icon-user-search--02wf:before { content: "\ea55"; }
.sf-icon-user-settings:before { content: "\ea56"; }
.sf-icon-user-sync:before { content: "\ea57"; }
.sf-icon-user-unlocked:before { content: "\ea58"; }
.sf-icon-user-upload:before { content: "\ea59"; }
.sf-icon-user-add:before { content: "\ea5a"; }
.sf-icon-user-delete:before { content: "\ea5b"; }
.sf-icon-user-login:before { content: "\ea5c"; }
.sf-icon-user-modify:before { content: "\ea5d"; }
.sf-icon-user-profile:before { content: "\ea5e"; }
.sf-icon-vertical-align-bottom:before { content: "\ea5f"; }
.sf-icon-vertical-align-center:before { content: "\ea60"; }
.sf-icon-vertical-align-top:before { content: "\ea61"; }
.sf-icon-vibration:before { content: "\ea62"; }
.sf-icon-view-details:before { content: "\ea63"; }
.sf-icon-view-details:before { content: "\ea64"; }
.sf-icon-view-details-01:before { content: "\ea65"; }
.sf-icon-view-incident:before { content: "\ea66"; }
.sf-icon-view-list:before { content: "\ea67"; }
.sf-icon-view-medium-icons:before { content: "\ea68"; }
.sf-icon-view-medium-icons-01:before { content: "\ea69"; }
.sf-icon-view-small-icons:before { content: "\ea6a"; }
.sf-icon-view-small-icons-01:before { content: "\ea6b"; }
.sf-icon-view-tiles:before { content: "\ea6c"; }
.sf-icon-virtual-apps:before { content: "\ea6d"; }
.sf-icon-visual-studio:before { content: "\ea6e"; }
.sf-icon-visual-studio-2011:before { content: "\ea6f"; }
.sf-icon-visual-studio-2012:before { content: "\ea70"; }
.sf-icon-volume-icon:before { content: "\ea71"; }
.sf-icon-volume-down:before { content: "\ea72"; }
.sf-icon-volume-mute:before { content: "\ea73"; }
.sf-icon-volume-speaker:before { content: "\ea74"; }
.sf-icon-volume-speaker-01:before { content: "\ea75"; }
.sf-icon-volume-speaker-02:before { content: "\ea76"; }
.sf-icon-volume-up:before { content: "\ea77"; }
.sf-icon-warning-shield:before { content: "\ea78"; }
.sf-icon-water-recycling:before { content: "\ea79"; }
.sf-icon-way-board:before { content: "\ea7a"; }
.sf-icon-web-page-:before { content: "\ea7b"; }
.sf-icon-web-page-add:before { content: "\ea7c"; }
.sf-icon-web-page-delete:before { content: "\ea7d"; }
.sf-icon-web-page-download:before { content: "\ea7e"; }
.sf-icon-web-page-favourites:before { content: "\ea7f"; }
.sf-icon-web-page-find:before { content: "\ea80"; }
.sf-icon-web-page-help:before { content: "\ea81"; }
.sf-icon-web-page-info:before { content: "\ea82"; }
.sf-icon-web-page-locked:before { content: "\ea83"; }
.sf-icon-web-page-next:before { content: "\ea84"; }
.sf-icon-web-page-ok:before { content: "\ea85"; }
.sf-icon-web-page-previous:before { content: "\ea86"; }
.sf-icon-web-page-refresh:before { content: "\ea87"; }
.sf-icon-web-page-refresh:before { content: "\ea88"; }
.sf-icon-web-page-remove:before { content: "\ea89"; }
.sf-icon-web-page-save:before { content: "\ea8a"; }
.sf-icon-web-page-search:before { content: "\ea8b"; }
.sf-icon-web-page-settings:before { content: "\ea8c"; }
.sf-icon-web-page-unlocked:before { content: "\ea8d"; }
.sf-icon-web-page-upload:before { content: "\ea8e"; }
.sf-icon-webpage-edit:before { content: "\ea8f"; }
.sf-icon-webpage-find:before { content: "\ea90"; }
.sf-icon-webpage-search:before { content: "\ea91"; }
.sf-icon-webpage-sync:before { content: "\ea92"; }
.sf-icon-webpage-sync--2:before { content: "\ea93"; }
.sf-icon-wifi:before { content: "\ea94"; }
.sf-icon-wind:before { content: "\ea95"; }
.sf-icon-window-delete:before { content: "\ea96"; }
.sf-icon-window-earth:before { content: "\ea97"; }
.sf-icon-window-horizontal-split:before { content: "\ea98"; }
.sf-icon-window-information:before { content: "\ea99"; }
.sf-icon-window-new:before { content: "\ea9a"; }
.sf-icon-window-new-01:before { content: "\ea9b"; }
.sf-icon-window-new-open:before { content: "\ea9c"; }
.sf-icon-windows:before { content: "\ea9d"; }
.sf-icon-windows-tablet:before { content: "\ea9e"; }
.sf-icon-windows-8-login:before { content: "\ea9f"; }
.sf-icon-windows-environment:before { content: "\eaa0"; }
.sf-icon-zoom---corner---01:before { content: "\eaa1"; }
.sf-icon-zoom---corner---02:before { content: "\eaa2"; }
.sf-icon-zoom---corner---03:before { content: "\eaa3"; }
.sf-icon-zoom---corner---04:before { content: "\eaa4"; }
.sf-icon-zoom-horizontal---01:before { content: "\eaa5"; }
.sf-icon-zoom-vertical---01:before { content: "\eaa6"; }
.sf-icon-zoom-vertical---02:before { content: "\eaa7"; }
